<section class="container">
    <div class="p-box">
        <div class="p-top">
          <i class="far fa-heart p-heart"></i>
          <span class="p-price">{{p1price}}</span>
        </div>
        <img [src]="p1src" alt="">
        <div class="p-desc">
          <h3 class="p-category">{{ptitle}}</h3>
          <h1 class="p-product">{{p1title}}</h1>
          <div class="p-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
    
      <div class="p-box">
        <div class="p-top">
          <i class="far fa-heart p-heart"></i>
          <span class="p-price">{{p2price}}</span>
        </div>
        <img [src]="p2src" alt="">
        <div class="p-desc">
          <h3 class="p-category">{{ptitle}}</h3>
          <h1 class="p-product">{{p2title}}</h1>
          <div class="p-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
    
      <div class="p-box">
        <div class="p-top">
          <i class="far fa-heart p-heart"></i>
          <span class="p-price">{{p3price}}</span>
        </div>
        <img [src]="p3src" alt="">
        <div class="p-desc">
          <h3 class="p-category">{{ptitle}}</h3>
          <h1 class="p-product">{{p3title}}</h1>
          <div class="p-stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="far fa-star"></i>
          </div>
        </div>
      </div>
</section>
 